@model DiabeticSystem.Common.Models.PatientSummary
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PatientSummary</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.datatable.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.datatable.min.js"></script>
    <script src="~/Scripts/custom/PatientSummary.js"></script>  
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            //var data = google.visualization.arrayToDataTable([
            //    ['Date', 'Sugar Before Fasting', 'Sugar After Fasting'],
            //    ['8/15/2018', 100, 120],
            //    ['8/1/2018', 120, 140],
            //    ['7/15/2018', 140, 150]

            //]);
            // debugger
            var chartModel = @Html.Raw(Json.Encode(Model.PatientTestResults));

            var array = new Array();
            array[0] = ['Date', 'Sugar Before Fasting', 'Sugar After Fasting'];
            let i = 1;
            chartModel.forEach(function (element) {

                array[i] = [ConvertToDate(element.TestDate), element.SugarLevelBeforeFasting, element.SugarLevelAfterFasting];
                i++;
                // console.log(Date.parse(element.TestDate));
            });
            debugger
          var data = google.visualization.arrayToDataTable(array);


            var options = {
                title: 'Your Sugar Level',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }

        function ConvertToDate(testdate)
        {
            var date = new Date(parseInt(testdate.replace("/Date(", "").replace(")/", ""), 10));
            return date;

        }
    </script>
</head>
<body>
    <br/>
       
            <div class="container">
                @if (DateTime.Now.Month - Model.ExpiresOn.Month == 0)
                {
                    <div class="row">
                        <div class="col-sm-12 col-sm-push-10"><input type="button" id="btnRenew" class="btn btn-primary" value="Renew" /></div>
                    </div>
                }
               
                <div id="dvpersonalDetails">
                    @Html.Partial("_PatientPersonalDetails", Model)
                </div>
            </div>
       

    
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-responsive table-hover" id="tblPatientSummary">
                    <thead style="background-color:lightgray;">
                        <tr>
                            <td>Test Date</td>
                            <td>Sugar Level Before Fasting</td>
                            <td>Sugar Level After Fasting</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.PatientTestResults==null || Model.PatientTestResults.Count==0)
                            {
                                <tr><td colspan="3">No test(s) done so far </td></tr>
                            }
                            else
                            {
                                foreach (var item in Model.PatientTestResults)
                                {
                                    <tr>
                                        <td>@item.TestDate.ToShortDateString()</td>
                                        <td>@item.SugarLevelBeforeFasting</td>
                                        <td>@item.SugarLevelAfterFasting</td>
                                    </tr>
                                }
                            }

                        }
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="curve_chart" style="width: 900px; height: 500px"></div>
</body>
</html>
